body {
  overflow: hidden;
  min-height: 100vh;
  cursor: crosshair;
  font-family: sans-serif;
}

h1 {
  display: block;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  background: salmon;
  border-radius: 25px;
  width: 650px;
  height: 50px;
  user-select: none;
}

h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: snow;
  background: pink;
  border-radius: 15px;
  width: 200px;
  user-select: none;
}

.bubble {
  position: absolute;
  border-radius: 300px;
  background: rgba(255, 166, 0, 0.6);
  opacity: 0;
  animation: anim 8s forwards;
  filter: hue-rotate(0deg);
}

@keyframes anim {
  to {
    top: -250px;
    left: var(--left);
    opacity: 1;
    filter: hue-rotate(720deg);
  }
}
